In [1]:
# Olympics Dataset

In [2]:
import pandas as pd

In [3]:
summer_df = pd.read_csv('summer.csv')
winter_df = pd.read_csv('winter.csv')

In [4]:
summer_df.shape

(31165, 9)

In [5]:
winter_df.shape

(5770, 9)

In [6]:
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,HAJOS Alfred,HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,HERSCHMANN Otto,AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,DRIVAS Dimitrios,GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,MALOKINIS Ioannis,GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,CHASAPIS Spiridon,GRE,Men,100M Freestyle For Sailors,Silver

In [8]:
winter_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [10]:
olympics_df = summer_df.append(winter_df)

C:\Users\asus\AppData\Local\Temp\ipykernel_41492\3208425214.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  olympics_df = summer_df.append(winter_df)

In [11]:
olympics_df.shape

(36935, 9)

In [12]:
olympics_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,HAJOS Alfred,HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,HERSCHMANN Otto,AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,DRIVAS Dimitrios,GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,MALOKINIS Ioannis,GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,CHASAPIS Spiridon,GRE,Men,100M Freestyle For Sailors,Silver

In [13]:
olympics_df.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [14]:
olympics_df['Athlete'] = olympics_df['Athlete'].str.replace(',','')

In [15]:
olympics_df.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
5765,2014,Sochi,Skiing,Snowboard,JONES Jenny,GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,ANDERSON Jamie,USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,MALTAIS Dominique,CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,SAMKOVA Eva,CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,TRESPEUCH Chloe,FRA,Women,Snowboard Cross,Bronze